body {
  width: 100%;
  height: 100%;
  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

hr{
    color: @default-text-color;
}

@media(min-width:768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

@media(min-width:768px) {
  .navbar-fixed-top {
    padding: 20px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 5px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}

.page-scroll{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-brand{
    text-transform: uppercase;
    font-size: 2em;
}

.intro-header {
  padding-top: 300px;
  padding-bottom: 200px;
  text-align: center;
  color: @default-text-color;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
}

.intro-divider {
  width: 400px;
}
.intro-divider-default{
    border-top: 1px solid @default-border-color;
    border-bottom: 1px solid @default-border-color;
}
.intro-divider-inverse{
    border-top: 1px solid @inverse-border-color;
    border-bottom: 1px solid @inverse-border-color;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

section {
  padding: 100px 0 !important;
  h2 {
  	margin: 0;
  	font-size: 3em;
  }
}

section.success {
	background: @inverse-background-color;
	color: @inverse-text-color;
}

@media(max-width:767px) {
	section {
		padding: 75px 0;
	}
	section.first {
		padding-top: 75px;
	}
}

.portfolio {
    hr{
        color: @inverse-text-color;
    }
    h1,
    h2,
    h3{
        color: @inverse-text-color;
    }
  .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    .portfolio-link {
      display: block;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      color: @portfolio-link-text-color;
      .caption {
        background: fade(@portfolio-link-hover-bg, 90%);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        &:hover {
          opacity: 1;
        }
        .caption-content {
          position: absolute;
          width: 100%;
          height: 20px;
          font-size: 20px;
          text-align: center;
          top: 50%;
          margin-top: -12px;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
  }
  *{
      z-index: 2;
  }
}

@media(min-width:767px) {
  .portfolio{
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

.about{
    h1,
    h2,
    h3{
        color: @default-text-color;
    }
    p{
        color: @default-text-color;
    }
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid @default-text-color;
  color: @default-text-color;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid @default-link-border;
  outline: 0;
  color: @default-link-text-color;
  background-color: @default-link-bg;
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}
