body {
    width: 500px;
    margin: 20px auto;
    font-family: Helvetica, arial;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    white-space: nowrap;
    padding: 2.5px;
}

li:after {
    content: "\00b7";
    font-weight: bolder;
    padding: 10px;
}

li:last-child::after{
    content: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: deepskyblue;
}

header {
    padding-top: 150px;
    padding-bottom: 50px;
}

.name {
    font-size: 52px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.contact {
    font-weight: bolder;
    font-size: 14px;
}

.projects{
    padding: 0;
    padding-top: 20px;
}

.projects > .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
    margin: 0;
}

.projects > .title:before {
    content: "\00b7";
    font-weight: bolder;
    padding: 10px;
}

.projects > .title:after {
    content: "\00b7";
    font-weight: bolder;
    padding: 10px;
}

.project {
    position: relative;
    margin-bottom: 50px;
    padding: 0;
}

.project > img{
    width: 100%;
}

.project > .name {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 0;
    margin: 0;
    margin-top: 5px;
}

.project > .organization {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin: 2.5px 0 0 0;
    padding: 0;
}

.project > .description {
    text-align: justify;
    font-size: 14px;
    margin: 5px 0 7.5px 0;
}

.project > .tags {
    padding-top: 1px;
    text-align: left;
    margin-bottom: 2.5px;
}

.project > .tags > li {
    padding: 2.5px 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 2.5px;
    color: white;
    background: #3f3f3f;
    border-radius: 2px;
    font-size: 12px;
    display: inline-block;
}

.project > .tags > li::after{
    content: none;
}

.project > .display_name > a {
    left:0;
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    position: absolute;
    margin-top: 2.5px;
}
