<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About</h2>
      <hr class="intro-divider"></hr>
      <p>Lorem ipsum dolor sit amet, at vitae etiam. Posuere dolor. Amet diam a quam egestas. Eu velit justo eget quis mauris integer, nonummy sit amet sodales, amet tellus commodo leo urna ac nonummy, tortor amet wisi, conubia elementum sed. Est eu metus at vestibulum consectetuer vestibulum. Sed wisi, sit sagittis in duis lacus, vitae donec. Phasellus risus, vestibulum nulla pellentesque augue praesent, lorem a. Vel viverra accumsan fusce, nec suspendisse fusce faucibus sollicitudin sed in, montes leo, facilisi urna maecenas pretium, quos turpis odio consequat sodales.</p>
    </div>
  </div>
</div>
