<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About</h2>
            <hr class="intro-divider"></hr>
            <p style="text-align:left">
                Blue bottle taxidermy locavore, scenester next level gluten-free tacos meggings typewriter XOXO chicharrones asymmetrical hashtag. Typewriter franzen beard put a bird on it swag, occupy pork belly church-key wolf artisan small batch. Ramps sartorial franzen art party, hammock single-origin coffee whatever mlkshk. Pour-over normcore craft beer, 3 wolf moon pitchfork fap selfies echo park dreamcatcher helvetica. Hoodie hammock cold-pressed, kinfolk slow-carb iPhone mumblecore etsy. Whatever everyday carry pop-up, chartreuse disrupt yr pabst williamsburg church-key lomo fixie mumblecore man braid portland banh mi. Flexitarian seitan normcore whatever 3 wolf moon bespoke, gochujang +1.
            </p>
        </div>
    </div>
</div>
