<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Games</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 games-item">
      <a href="#" class="games-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="images/game.png" class="img-responsive" alt="">
      </a>
    </div>
    <div class="col-sm-4 games-item">
      <a href="#" class="games-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="images/game.png" class="img-responsive" alt="">
      </a>
    </div><div class="col-sm-4 games-item">
      <a href="#" class="games-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="images/game.png" class="img-responsive" alt="">
      </a>
    </div><div class="col-sm-4 games-item">
      <a href="#" class="games-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="images/game.png" class="img-responsive" alt="">
      </a>
    </div>
  </div>
</div>
